{% extends "base.html" %}

{% block title %}Invoices - Flower Shop{% endblock %}
{% block content %}
<h1>Testing Successful</h1>
        <ul>
            {% for flower, details in flowers.items() %}
            <li>{{ flower }} - ${{ details['price'] }} (Stock: {{ details['stock'] }})</li>
            {% endfor %}
        </ul>
        <ul>
            {% for addon, details in addons.items() %}
            <li>{{ addon }} - ${{ details['price'] }}</li>
            {% endfor %}
        </ul>
{% endblock %}